body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
}

.box {
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  height: 570px;
  width: 1100px;
  position: relative;
}

.main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container1 {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0px 0px 10px;
}

.container2 {
  background-color: hsl(184, 100%, 22%);
}

.container3 {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0px 10px 10px 0px;
}

.dig {
  margin: 50px;
}

.image {
  margin-bottom: 33px;
}

.title {
  color: white;
  font-family: "Big Shoulders Display", cursive;
  font-size: 45px;
  margin-bottom: 33px;
}

.paragraph {
  width: 78%;
  line-height: 1.7;
  font-size: 15px;
  margin-bottom: 130px;
}

button {
  font-family: "Lexend Deca", sans-serif;
  background-color: (0, 0%, 100%, 0.75);
  border: none;
  border-radius: 30px 30px 30px 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.orange {
  color: hsl(31, 77%, 52%);
}

.cyan {
  color: hsl(184, 100%, 22%);
}

.verydark {
  color: hsl(179, 100%, 13%);
}

/*Media Queries*/
@media screen and (min-width: 375px) and (max-width: 767px) {
  .box {
    color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    flex-direction: column;
    height: 570px;
    width: 350px;
    position: relative;
    margin-top: 240%;
    margin-bottom: 240%;
  }

  .main {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0px 0px;
  }

  .container2 {
    background-color: hsl(184, 100%, 22%);
  }

  .container3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0px 0px 10px 10px;
  }

  .dig {
    margin: 50px;
  }

  .image {
    margin-bottom: 33px;
  }

  .title {
    color: white;
    font-family: "Big Shoulders Display", cursive;
    font-size: 40px;
    margin-bottom: 33px;
  }

  .paragraph {
    width: 230px;
    line-height: 1.7;
    font-size: 15px;
    margin-bottom: 10%;
  }

  button {
    font-family: "Lexend Deca", sans-serif;
    background-color: (0, 0%, 100%, 0.75);
    border: none;
    border-radius: 30px 30px 30px 30px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
  }

  .orange {
    color: hsl(31, 77%, 52%);
  }

  .cyan {
    color: hsl(184, 100%, 22%);
  }

  .verydark {
    color: hsl(179, 100%, 13%);
  }
}
